ion-slides {
    height: 300px; /* Altura del carrusel */
  }
  
  ion-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajustar imagen sin distorsión */
    border-radius: 10px;
  }