<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
      defaultHref="/"
      text=""
      color="dark">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/menu']">
        <ion-icon 
          slot="end" 
          name="home-outline" 
          id="titulo"
          color="dark">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Clases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
</ion-content>
